body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}
header {
    position: fixed;
    width: 100%;
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px 10px 6px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 10px 6px -3px rgba(0,0,0,0.59);
    box-shadow: 0px 10px 6px -3px rgba(0,0,0,0.59);
}
main {
    display: flex;
    flex-direction: column;
}
#list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}
#list-container p:first-of-type {
    font-weight: bold;
    font-size: 24px;
}
section {
    height: 6rem;
    margin-top: 8rem;
    border: solid 1px black;
}
img {
    width: 20rem;
    height: 25rem;   
}
footer{
    -webkit-box-shadow: 0px -8px 6px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px -8px 6px -3px rgba(0,0,0,0.59);
    box-shadow: 0px -8px 6px -3px rgba(0,0,0,0.59);
}